Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g6, pull requests merged in 2022-10, with the labels that each got.

#18 Matching service: remove unused packages
  matching-service/package-lock.json
Labels: enhancement, matching-service, priority.Medium

#5 Matching service: handle leave room events & other refactoring
  matching-service/controller/match-controller.js
  matching-service/index.js
  matching-service/model/match-model.js
  matching-service/model/repository.js
  matching-service/model/room-model.js
  matching-service/model/service.js
Labels: matching-service, priority.High

#20 Matching service: update event arguments
  matching-service/controller/match-controller.js
  matching-service/model/service.js
Labels: enhancement, matching-service, priority.High

#24 Matching service: retrieve questionId from question service, return and store it
  matching-service/model/repository.js
  matching-service/model/room-model.js
  matching-service/model/service.js
  matching-service/package-lock.json
  matching-service/package.json
Labels: matching-service, priority.High

#19 User service
  user-service/controller/user-controller.js
  user-service/env.sample
  user-service/index.js
  user-service/model/mongo-repo.js
  user-service/model/redis-repo.js
  user-service/model/repository.js
  user-service/model/user-authentication.js
  user-service/model/user-model.js
  user-service/model/user-orm.js
  user-service/model/user-sec.js
  user-service/package-lock.json
  user-service/package.json
  user-service/service/user-service.js
  user-service/utils/utils.js
Labels: enhancement, user-service, priority.High

#26 Matching service: refactor arguments in emitted events
  matching-service/controller/match-controller.js
  matching-service/model/service.js
Labels: enhancement, matching-service, priority.Medium

#25 RESTful api for user-service
  user-service/controller/user-controller.js
  user-service/env.sample
  user-service/index.js
Labels: enhancement, user-service, priority.High

#2 [WIP] Create Pages
  frontend/src/App.js
  frontend/src/components/AccountPage.js
  frontend/src/components/ChangePwPage.js
  frontend/src/components/DeleteAccPage.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/components/RoomPage.js
  frontend/src/components/SignupPage.js
  frontend/src/configs.js
  frontend/src/constants.js
  matching-service/index.js
  question-service/controllers/question-controller.js
  question-service/controllers/questionControllers.js
  question-service/index.js
  question-service/models/question-model.js
  question-service/models/question-orm.js
  question-service/models/questionsModels.js
  question-service/models/repository.js
  question-service/package-lock.json
  question-service/package.json
  question-service/question_routers/questions_api.js
Labels: frontend, priority.High

#21 Add question service
  question-service/controllers/question-controller.js
  question-service/controllers/questionControllers.js
  question-service/index.js
  question-service/models/question-model.js
  question-service/models/question-orm.js
  question-service/models/questionsModels.js
  question-service/models/repository.js
  question-service/package-lock.json
  question-service/package.json
  question-service/question_routers/questions_api.js
Labels: question-service, priority.High

#31 Fix bugs to make the app work
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MatchingPage.js
  frontend/src/components/RoomPage.js
  frontend/src/components/SignupPage.js
  matching-service/package-lock.json
  matching-service/package.json
  question-service/controllers/question-controller.js
  question-service/index.js
  question-service/models/question-orm.js
  question-service/package-lock.json
  question-service/package.json
  user-service/index.js
Labels: bug, frontend, user-service, matching-service, question-service, priority.High

#32 Frontend + Backend: MVP for user, matching, question services
  frontend/src/App.js
  frontend/src/components/ChangePwPage.js
  frontend/src/components/DeleteAccPage.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/components/RoomPage.js
  frontend/src/components/SignupPage.js
  user-service/controller/user-controller.js
  user-service/service/user-service.js
Labels: frontend, priority.High

#27 Matching service: authenticate user before handling requests
  matching-service/controller/match-controller.js
Labels: matching-service, priority.High

#33 Frontend: general update
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/AccountPage.js
  frontend/src/components/ChangePwPage.js
  frontend/src/components/DeleteAccPage.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/components/PrivateRoute.js
  frontend/src/components/RedirectRoute.js
  frontend/src/components/RoomPage.js
  frontend/src/components/SignupPage.js
  frontend/src/components/contexts/AuthContext.js
  frontend/src/components/contexts/SessionContext.js
  frontend/src/components/pages/ChangePwPage.js
  frontend/src/components/pages/DeleteAccPage.js
  frontend/src/components/pages/LoginPage.js
  frontend/src/components/pages/MatchPage.js
  frontend/src/components/pages/RoomPage.js
  frontend/src/components/pages/SignupPage.js
  frontend/src/configs.js
  frontend/src/constants.js
  frontend/src/index.js
Labels: enhancement, frontend, priority.Medium

#34 Add chat service
  chat-service/controller/chat-controller.js
  chat-service/env.sample
  chat-service/index.js
  chat-service/package-lock.json
  chat-service/package.json
  chat-service/service/chat-service.js
Labels: priority.High, chat-service

#35 Add editor service
  editor-service/controller/editor-controller.js
  editor-service/env.sample
  editor-service/index.js
  editor-service/package-lock.json
  editor-service/package.json
  editor-service/service/editor-service.js
Labels: editor-service, priority.High

#41 Frontend update
  frontend/src/components/pages/MatchPage.js
  frontend/src/components/pages/RoomPage.js
  matching-service/controller/match-controller.js
  matching-service/index.js
  matching-service/model/service.js
Labels: frontend, priority.Medium

#42 Matching service and frontend update
  frontend/src/components/pages/MatchPage.js
  matching-service/controller/match-controller.js
  matching-service/index.js
  matching-service/model/match-model.js
  matching-service/model/repository.js
  matching-service/model/room-model.js
  matching-service/model/service.js
Labels: frontend, matching-service, priority.Medium
